{
    "blob": "Blob",
    "blob_base": "Blob Base",
    "machine_cult": "Machine Cult",
    "machine_cult_base": "Machine Cult Base",
    "trade_federation": "Trade Federation",
    "trade_federation_base": "Trade Federation Base",
    "base": "Base",
    "outpost": "Outpost",
    "ship": "Ship",
    "choice_or": "or",
    "barter_world": "Barter World",
    "battle_station": "Battle Station",
    "blob_wheel": "Blob Wheel",
}