[
    (2, "Barter-World"),
    (1, "Battle-Blob"),
    (1, "Battle-Mech"),
    (2, "Battle-Pod"),
    (2, "Battle-Station"),
    (1, "Battlecruiser"),
    (1, "Blob-Carrier"),
    (2, "Blob-Destroyer"),
    (3, "Blob-Fighter"),
    (3, "Blob-Wheel"),
    (1, "Blob-World"),
    (1, "Brain-World"),
    (1, "Central-Office"),
    (1, "Command-Ship"),
    (2, "Corvette"),
    (3, "Cutter"),
    (1, "Defense-Center"),
    (1, "Dreadnaught"),
    (2, "Embassy-Yacht"),
    (3, "Federation-Shuttle"),
    (1, "Flagship"),
    (1, "Fleet-HQ"),
    (2, "Freighter"),
    (3, "Imperial-Fighter"),
    (3, "Imperial-Frigate"),
    (1, "Junkyard"),
    (1, "Machine-Base"),
    (1, "Mech-World"),
    (3, "Missile-Bot"),
    (1, "Missile-Mech"),
    (1, "Mothership"),
    (2, "Patrol-Mech"),
    (1, "Port-of-Call"),
    (2, "Ram"),
    (2, "Recycling-Station"),
    (1, "Royal-Redoubt"),
    (2, "Space-Station"),
    (1, "Stealth-Needle"),
    (3, "Supply-Bot"),
    (3, "Survey-Ship"),
    (1, "The-Hive"),
    (3, "Trade-Bot"),
    (1, "Trade-Escort"),
    (3, "Trade-Pod"),
    (2, "Trading-Post"),
    (1, "War-World")
]